<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Куски</title>
</head>
<br>
<h2 align="center"><tt>Лексико-типологическая анкета</tt></h2>
<h2 align="center">Куски</h2>
<style>
    body {
    background: #F5F5DC;
    color: #556B2F;
   }
    p {
    margin-top: 0em;
    margin-bottom: 0em;
    }
    h2 {
    margin-top: 0em;
    margin-bottom: 0em;
    }
</style>
<body link="#556B2F">
<p align="center"><tt><a href="http://127.0.0.1:5000/" style="text-decoration: none;">Анкета&nbsp;</a><a href="http://127.0.0.1:5000/search" style="text-decoration: none;">&nbsp;Поиск&nbsp;</a><a href="http://127.0.0.1:5000/stats" style="text-decoration: none;">&nbsp;Статистика&nbsp;</a><a href="http://127.0.0.1:5000/json" style="text-decoration: none;">&nbsp;json</a></tt></p>
<br>
<br>
<p align="center"><b>Спасибо за прохождение анкеты!</b></p><br>
    <p align="center"><b>Ваши ответы записаны.</b></p><br>
<br>
<br>
    <p><small>Составители анкеты: Егор Кашкин, Анастасия Мельник</small></p>
    <p><small>НИУ ВШЭ, 2016</small></p>

</body>
</html>