<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Англо-тайский словарь</title>
</head>
<br>
<h2 align="center"><tt>Англо-тайский словарь</tt></h2>
<style>
    body {
    background: #008080;
    color: #F0FFFF;
   }
    p {
    margin-top: 0em;
    margin-bottom: 0em;
    }
    h2 {
    margin-top: 0em;
    margin-bottom: 0em;
    }
</style>
<body link="#556B2F">
<p align="center"><tt><a href="http://127.0.0.1:5000/" style="text-decoration: none;">Поиск&nbsp;</a></p><br>
    <p><b>Здравствуйте! <br> Вы можете осуществлять поиск по словарю.</b></p><br>
<form action="http://127.0.0.1:5000/results" method="GET">
    <label>Введите слово или предложение, чтобы узнать, как его сказать по-тайски: <input type="text" name="word"> </label><br>
        <br><input type="submit" value="Отправить">
</form>
<br>
    <p><small>НИУ ВШЭ, 2016</small></p>

</body>
</html>